.container {
  background-color: #d0bfff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.container_circe_1 {
  width: 400px;
  height: 400px;
  border-radius: 64% 39% 38% 61% / 53% 48% 51% 30%;
  background-image: linear-gradient(
    to bottom,
    rgb(76, 131, 207),
    rgb(198, 54, 176)
  );
  position: fixed;
  top: -10%;
  left: -10%;
  animation: circle 5s infinite linear;
}

.container_circe_2 {
  width: 400px;
  height: 400px;
  border-radius: 32% 64% 38% 61% / 75% 46% 51% 30%;
  background-image: linear-gradient(
    to bottom,
    rgb(76, 131, 207),
    rgb(198, 54, 176)
  );
  position: fixed;
  bottom: -10%;
  right: -10%;
  animation: circle 5s infinite linear;
}

.box {
  width: 80%;
  height: 80%;
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(20px);
  margin: 0 auto;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header_content {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}
.header_content_title::first-letter {
  color: purple;
}
.body_content {
  display: flex;
  height: 100%;
  position: relative;
}
.body_content > img {
  position: absolute;
  width: 200px;
}
.body_content > img:nth-child(1) {
  position: absolute;
  width: 200px;
  right: 10px;
  transform: translateX(150%);
  /* animation : fadeInIcon 2s linear,  bubble 2s 2s linear infinite; */
  animation: fadeInIconOne 2s cubic-bezier(0.2, 0.84, 0.44, 2) forwards;
}
.body_content > img:nth-child(2) {
  position: absolute;
  width: 200px;
  left: 10px;
  top: 25%;
}
.body_content > img:nth-child(3) {
  position: absolute;
  width: 200px;
  left: 25%;
}
.body_content > img:nth-child(4) {
  position: absolute;
  width: 200px;
  left: 30%;
  bottom: 10px;
}
.body_content_left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.body_content_left img {
  height: 400px;
  transform: translateX(-150%);
  animation: fadeInLeft 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.body_content_right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  justify-content: center;
  transform: translateX(150%);
  animation: fadeInRight 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  transition: all linear;
}
.body_content_right .body_content_right_header {
  flex: 1;
  min-width: 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.body_content_right .body_content_right_body {
  flex: 2;
  min-width: 60%;
}
.body_content_right_body_form_input {
  padding: 10px 0px;
  position: relative;
  transition: 0.25s ease;
}
.body_content_right_body_form_input input {
  padding: 14px;
  width: 100%;
  border: 1px solid #eee;
  font-size: 1.6rem;
  border-radius: 4px;
}
.body_content_right_body_form_input input:focus {
  padding: 14px;
  width: 100%;
  border: 1px solid #6534d9;
  outline: none;
}
.body_content_right_body_form_input label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  user-select: none;
  color: #999;
  pointer-events: none;
  transition:0.25s ease;
}
.body_content_right_body_form_input input:not(:placeholder-shown) + label,
.body_content_right_body_form_input input:focus + label {
  top: 10px;
  padding: 1px 10px;
  display: inline-block;
  background: #fff;
  color: #6534d9;
  border: 1px solid #6534d9;
  border-radius: 4px;
}
.body_content_right_body_form_group_button {
  padding: 15px 0px;
}
.body_content_right_body_form_group_button button {
  padding: 15px 50px;
  border-radius: 30px;
  margin-right: 20px;
  background-color: #6534d9;
  border: none;
  color: white;
  font-style: bold;
}
.body_content_right_body_form_group_button button:nth-child(2) {
  background-color: white;
  color: black;
}
.containerModal {
  width: 100%;
  height: 100%;
  background-color: grey;
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  display:none;
}
.modal {
  width: 250px;
  height: 300px;
  background-color: white;
  opacity: 2;
  border-radius: 15px;
  animation: FadeIn 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  font-weight: bold;
  font-size:18px;
  text-align:center
}
.modal_button{

  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modal_button:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.openModal {
  display: flex;
}
.closeModal {
  display: none;
}
@keyframes FadeIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}


@keyframes fadeInIconOne {
  from {
    transform: translateX(150%) rotate(50deg);
  }
  to {
    transform: translateX(0) rotate(0);
  }
}

@keyframes bubble {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes fadeInLeft {
  to {
    transform: translate(0);
  }
}
@keyframes fadeInRight {
  to {
    transform: translate(0);
  }
}

@keyframes circle {
  to {
    transform: rotate(360deg);
  }
}
