:root {
  --maincolor: #202442;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color:#541FBC;
  overflow: hidden;
  
}
.asideNav {
  flex: 1;
  height: 98%;
  background-color: #202442;
  border-radius: 20px 20px 20px 20px;
  margin:10px;
  align-self: center;
}

.headerLogo {
  display: flex;
  position: relative;
  height: 100px;
  align-items: center;
}
.headerLogo_circle1 {
  width: 30px;
  height: 30px;
  background-color: #ff7f57;
  border-radius: 50%;
  position: absolute;
  transform: translateX(200%);
}
.headerLogo_circle2 {
  width: 50px;
  height: 50px;
  background-color: #ffc629;
  border-radius: 50%;
  position: absolute;
  transform: translateX(150%);
}
.headerLogo > h2 {
  position: absolute;
  transform: translateX(50%);
  color: white;
  pointer-events: none;
}
.headerLogo > h2::after {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #d8d8d8;
  position: absolute;
  bottom: -100%;
  left: -40px;
}
.bodyNav > ul {
  padding: 0px;
  margin: top 20px;
  text-decoration: none;
}
.bodyNav > ul li {
  list-style: none;
  padding: 15px 20px;
  margin: 10px 10px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.bodyNav > ul li:hover {
  background-color: white;
  border-radius: 5px;
  color: var(--maincolor);
}
.bodyNav_group {
  display: flex;
  justify-content: space-between;
}
:-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
.content {
  flex: 5;
  border-radius: 20px 0px 0px 20px;
  -webkit-backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #252849;
  backdrop-filter: blur(20px);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transform: translateX(100%);
  animation: fadeIn 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  overflow-y: scroll;
  overflow-x: hidden;
}
.user {
  width: 200px;
  height: 50px;
  background-color: #fff;
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  box-shadow: 0px 0px 20px 10px rgba(55, 46, 121, 1);
  cursor: pointer;
  transition:0.25s ease
}
.user:hover {
  transform: scale(1.1);
}
.logout {
  width: 200px;
  height: 50px;
  background-color: #fff;
  margin: 15px auto;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.logout:hover {
  background-color: #281e6e;
  color: #fff;
}
.active {
  background-color: white;
  border-radius: 5px;
  color: var(--maincolor) !important;
}
@keyframes fadeIn {
  to {
    transform: translateX(0);
  }
}
