body {
  overflow-y: none;
}
:root {
  --maincolor: #5041bc;
}

.container {
  position: relative;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.category {
  list-style: none;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  border-radius: 5px;
  background-image: linear-gradient(
    to right,
    rgb(124, 54, 245),
    rgb(178, 65, 200),
    rgb(234, 78, 154)
  );
  border: 2px solid rgb(42, 150, 218);
  cursor: pointer;
  transition: all 1s linear;
}
.category:hover {
  background-image: linear-gradient(
    to right,
    rgb(234, 78, 154),
    rgb(178, 65, 200),
    rgb(124, 54, 245)
  );
}
.product-group {
  padding: 20px;
  height: 250px;
}
.product-item {
  width: 200px;
  height: 200px;
  margin: 30px 30px;
  position: relative;
  display: inline-block;
  scroll-behavior: smooth;
  border-radius: 15px;
  transition: 0.25s ease;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  background: #2a2e54;
  border: 2px solid #32407b;
  padding: 10px;
}
.product-item::after {
  content: "";
  width: 200px;
  height: 200px;
  background: #2a2e54;
  border-radius: 15px;
  border: 2px solid #32407b;
  position: absolute;
  top: 102%;
  opacity: 0.3;
}
.product-item:hover {
  transform: translateY(-10%) scale(1.06);
  box-shadow: #32407b 0px 20px 30px -10px;
}
.product-item > img {
  height: 100px;
  position: absolute;
  pointer-events: none;
  top: 0;
  right: -20%;
}
.product-item > p {
  pointer-events: none;
  color: white;
  text-align: start;
}
.product-item > img + .product-item > img {
  margin-right: 50px;
}
.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  width: -moz-fit-content;
  width: auto;
  margin: auto;
}
.header-from-input {
  padding: 12px;
  width: 360px;
  border-radius: 15px;
  background-color: #252849;
  border: 2px solid #32407b;
  position: relative;
  color: white;
}
.header-from-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px;
  color: #fff;
  transition: 0.25s ease;
}
.header-from-input:not(:placeholder-shown) + .header-from-button,
.header-from-input:focus + .header-from-button {
  transform: translateX(-150%) translateY(-50%);
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 15px;
  color: #252849;
  display: flex;
  justify-content: center;
  align-items: center;
}
