body {
  overflow-y: none;
}
:root {
  --maincolor: #5041bc;
}

::-webkit-scrollbar {
  width: 5px;
}
.container {
  position: relative;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--maincolor);
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--maincolor);
}

.category {
  list-style: none;
  font-style: bold;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  border-radius: 5px;
}
.product-group {
  padding: 20px;
  height: 250px;
}
.product-item {
  width: 200px;
  height: 200px;
  background-color: white;
  margin: 30px 30px;
  position: relative;
  display: inline-block;
  scroll-behavior: smooth;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  transition: 0.25s ease;
}
.product-item:hover {
  transform: translateY(-10%) scale(1.05);
}
.product-item > img {
  height: 100px;
  position: absolute;
  pointer-events: none;
  top: 0;
  right: -20%;
}
.product-item > p {
  pointer-events: none;
}
.product-item > img + .product-item > img {
  margin-right: 50px;
}

